{% extends "layout.html" %}
{% block body %}
<div>
    <div>
      <form action="/submit_score" method="post">
        <input type="hidden" name="id" value="{{ entry.id }}">
        <dl>
          <dt>Sport League:
          <dd><select name="sport">
                {% for sport in sports %}
                    <option value="{{ sport }}">{{ sport }}</option>
                {% endfor %}
              </select>

          <dt>Game Date:
          <dd><input type="date" name="game_date">

          <dt>Team 1:
          <dd><input type="text" size="30" name="team1">

          <dt>Team 2:
          <dd><input type="text" size="30" name="team2">

          <dt>Team 1 Score:
          <dd><input type="number" name="score1" min="0">

          <dt>Team 2 Score:
          <dd><input type="number" name="score2" min="0">

          <dd><input type="submit" value="Submit Score" class="btn btn-primary">
        </dl>
      </form>
    </div>
</div>
{% endblock %}