{% extends "layout.html" %}
{% block body %}
    <h1 class="m-2">Leagues</h1>
    <form action="{{ url_for('home_page') }}" method="get">
        <div class="m-2" style="display: flex; align-items: center; gap: 10px;">
            <select class="form-select form-select-lg w-25" name="filter">
                <option disabled selected>Sport</option>
                <option value="Volleyball">Volleyball</option>
                <option value="Football">Football</option>
                <option value="Basketball">Basketball</option>
                <option value="Soccer">Soccer</option>
                <option value="Water Polo">Water Polo</option>
                <option value="Badminton">Badminton</option>
            </select>
            <button type="submit" class="btn btn-secondary">Filter</button>
            <a href="{{ url_for('home_page') }}" class="btn btn-secondary">Reset</a>
        </div>
    </form>
    {% for league in leagues %}
        <div class="card mb-3 mx-2">
            <div class="card-body">
                <h5>{{ league['league_name'] }}</h5>
                <p>Sport: {{ league['sport'] }}</p>
                <p>Status: {{ league['status'] }}</p>
                <a href="{{ url_for('league_page', league_id=league['id']) }}"
                   class="btn btn-primary">View League Details</a>
                <a href = "{{ url_for('match_schedule', league_id=league['id']) }}"
                   class ="btn btn-success">View Match Schedule</a>
            </div>
        </div>
        {% endfor %}
        <!-- Google Calendar Card -->
        <div class="card mb-3 mx-2">
            <h1 class="m-2">Today's Games</h1>
            <iframe style="width:100%; height: 500px;"
                src="https://calendar.google.com/calendar/embed?src=primary&ctz=America/Chicago&mode=AGENDA"
                style="border: 0">
            </iframe>
        </div>
{% endblock %}