{% extends "layout.html" %}
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home_page') }}">InterLink</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('team_creation') }}">Create Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('league_creation') }}">Create League</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('team_view') }}">View Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('league_view') }}">View Leagues</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}