{% extends "layout.html" %}
{% block body %}
<h1 class="m-3 mt-2">Join Team</h1>
    <script>
        // Auto submits the sport selected to show leagues
        document.addEventListener('DOMContentLoaded', function() {
            const league_find = document.getElementById('league_find');
            const Volleyball = document.getElementById('Volleyball');
            const Football = document.getElementById('Football')
            const Basketball = document.getElementById('Basketball')
            const Soccer = document.getElementById('Soccer')
            const Water_polo = document.getElementById('Water Polo')
            const Badminton = document.getElementById('Badminton')

            Volleyball.addEventListener('change', function() {
                league_find.submit();
            });
            Football.addEventListener('change', function() {
                league_find.submit();
            });
            Basketball.addEventListener('change', function() {
                league_find.submit();
            });
            Soccer.addEventListener('change', function() {
                league_find.submit();
            });
            Water_polo.addEventListener('change', function() {
                league_find.submit();
            });
            Badminton.addEventListener('change', function() {
                league_find.submit();
            });
        });
    </script>
<div class="m-3">
<dt>Select Sport</dt>
<form id="league_find" method="get" action="{{ url_for('join_team_form') }}" >
    <fieldset>
        {# if statements keep sport selected #}
        <input type="radio" id="Volleyball" name="sport" value="Volleyball" {% if sport_selected == "Volleyball" %}checked{% endif %}>
        <label for="Volleyball">Volleyball</label><br>

        <input type="radio" id="Football" name="sport" value="Football" {% if sport_selected == "Football" %}checked{% endif %}>
        <label for="Football">Football</label><br>

        <input type="radio" id="Basketball" name="sport" value="Basketball" {% if sport_selected == "Basketball" %}checked{% endif %}>
        <label for="Basketball">Basketball</label><br>

        <input type="radio" id="Soccer" name="sport" value="Soccer" {% if sport_selected == "Soccer" %}checked{% endif %}>
        <label for="Soccer">Soccer</label><br>

        <input type="radio" id="Water Polo" name="sport" value="Water Polo" {% if sport_selected == "Water Polo" %}checked{% endif %}>
        <label for="Water Polo">Water Polo</label><br>

        <input type="radio" id="Badminton" name="sport" value="Badminton" {% if sport_selected == "Badminton" %}checked{% endif %}>
        <label for="Badminton">Badminton</label><br>
    </fieldset>
</form>
<form  id="team_find" method="get" action="{{ url_for('join_team_form') }}" >
    <input type="hidden" name="sport" value="{{ sport_selected }}">
    <dt class="mt-3">Select League</dt>
    <select style="width: 35%" class="form-select form-select-lg mb-3" name="league_select" onchange="this.form.submit()">
        <option disabled selected>Leagues</option>
        {# Loops through and makes an option leagues in selected sport #}
        {% for league in all_leagues %}
           <option value="{{ league }}" class="dropdown-item" {% if league_selected == league %}selected{% endif %}>{{ league }}</option>
        {% endfor %}
    </select>
</form>
<form action="/join_team_submit" method="post">
   <input type="hidden" name="sport_hidden" value="{{ sport_selected }}">
   <input type="hidden" name="league_hidden" value="{{ league_selected }}">
   <dl>
       <dt>Select Team</dt>
            <dd><select style="width: 35%" class="form-select form-select-lg mb-3"  name="team" required>
                <option value="" disabled selected>Teams</option>
                {# Loops through and makes an option teams in selected league #}
                {% for team in teams %}
                    <option value="{{ team }}" class="dropdown-item" >{{ team }}</option>
                {% endfor %}
            </select></dd>
       <dd><button type="submit" class="btn btn-secondary">Submit</button></dd>
   </dl>
</form>
</div>
{% endblock %}
