<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Interlink</title>
       <!--bootstrap css--->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
        <a class="navbar-brand" href="{{ url_for('home_page') }}">InterLink</a>

        <div class="ms-auto">
            {% if session.get('logged_in') %}
                <span class="navbar-text me-3">
                    Logged in as <strong>{{ session['username'] }}</strong>
                </span>
                <a class="btn btn-outline-danger btn-sm" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a class="btn btn-outline-primary btn-sm" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
    </nav>

       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block body %}

        {% endblock %}
    </body>
</html>