{% extends "layout.html" %}
{% block body %}
    {# UNIT TESTED #}
<h1 class="m-3 mt-2">Create League</h1>
    <form action="/league_creation" method="post">
        <dl class="m-3">
            <dt>League Name (Max Length 2-35 Characters) :</dt>
            <dd><input type="text" size="30" maxlength="35" minlength="2" pattern="^\S.*" name="league_name" required></dd>
            <dt>Sport:</dt>
            <dd>
                <select name="sport" required>
                    <option value="" disabled selected>Select a sport</option>
                    <option value="Soccer">Soccer</option>
                    <option value="Football">Football</option>
                    <option value="Basketball">Basketball</option>
                    <option value="Volleyball">Volleyball</option>
                    <option value="Water Polo">Water Polo</option>
                    <option value="Badminton">Badminton</option>
                </select>
            </dd>
            <dt>Maximum Teams:</dt>
            <dd><input type="number" size="30" min="3" max="32"  name="max_teams" required></dd>
            <dd><input type="submit" value="Create" class="btn btn-secondary"></dd>
        </dl>
    </form>

{% endblock %}