{% extends 'layout.html' %}
{% block body %}
<body>
    <form action="{{ url_for('league_view') }}" method="get">
        <div class="row g-2 mb-3">
            <div class="col-auto">
                <input name="filter" list="sports" placeholder="Sport" class="form-control" autocomplete="off">
                <datalist id="sports">
                    <option value="Volleyball">Volleyball</option>
                    <option value="Football">Football</option>
                    <option value="Basketball">Basketball</option>
                    <option value="Soccer">Soccer</option>
                    <option value="Water Polo">Water Polo</option>
                    <option value="Badminton">Badminton</option>
                </datalist>
            </div>
          <div class="col-auto">
              <button type="submit" class="btn btn-secondary">Filter</button>
          </div>
        <div class="col-auto">
            <a href="{{ url_for('league_view') }}" class="btn btn-secondary">Reset Filters</a>
        </div>

    </form>
    {% for league in leagues %}
        <div>
            <h4>{{ league }}</h4>
            <h6>{{ league.sport }}</h6>
        </div>
    {% endfor %}
</body>
{% endblock %}