{% extends "layout.html" %}
{% block body %}
<div class="d-flex">
<h1 class="m-2">Match Schedule - {{ league['league_name'] }}</h1>
    <a style="height: 50%" href="{{ url_for('home_page')}}" class="me-1 mt-3 btn btn-secondary">Back to League</a>
</div>
<div class="m-2">
    {# Checks if still future games#}
    {% if future_games|length > 0 %}
    <h2 class="m-2">Scheduled Games</h2>
    {# Loops and displays future games #}
    {% for game in future_games %}
    <div class="card mb-3 mx-2">
        <div class="card-body">
            <h5>{{ game['home_team'] }} vs {{ game['away_team'] }}</h5>
            <p>Date: {{ game['game_date'][:16] }}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {# Checks if finished games #}
    {% if finished_games|length > 0 %}
    <h2 class="m-2">Completed Games</h2>
    {# Loops and displayed finished games #}
    {% for game in finished_games %}
    <div class="card mb-3 mx-2">
        <div class="card-body">
            <h5>{{ game['home_team'] }} vs {{ game['away_team'] }}</h5>
            <p>Date: {{ game['game_date'][:16] }}</p>
            <p><strong>Score: {{ game['home_score'] }} - {{ game['away_score'] }}</strong></p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}