{% extends "layout.html" %}
{% block body %}
<body>
    <h2>Game Scores</h2>

    {% if games %}
    <ul>
        {% for game in games %}
        <li>
            Game {{ game.id }} {{ game.home_team }} vs {{ game.away_team }}: {{ game.home_score }} - {{ game.away_score }}
            ({{ game.game_date }})

            <a href="{{ url_for('edit_score') }}?game_id={{ game.id }}" class="btn btn-warning btn-sm">Edit</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No scores submitted yet.</p>
    {% endif %}
</body>
{% endblock %}