{% extends "layout.html" %}
{% block body %}
    {# UNIT TESTED #}
        <dl>
            <dt>League:</dt>
            <dd>
            <form action="/submit_score" method="get">
                <select name="league_selected"  onchange="this.form.submit()" required>
                    <option value="">Select League</option>
                    {% for league in leagues %}
                    <option value="{{ league.id }}" {% if league_selected|int == league.id %}selected{% endif %}>{{ league.league_name }}</option>
                    {% endfor %}
                </select>
            </form>
            </dd>
            <form action="/submit_score" method="post">
                {% if league_selected %}
                <input type="hidden" name="league_selected" value="{{ league_selected }}">
                {% endif %}
            <dt>Home Team:</dt>
            <dd>
                <select name="home_team_id" required>
                    <option value="">Select Home Team</option>
                    {% for team in teams %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                    {% endfor %}
                </select>
            </dd>

            <dt>Away Team:</dt>
            <dd>
                <select name="away_team_id" required>
                    <option value="">Select Away Team</option>
                    {% for team in teams %}
                    <option value="{{ team.id }}">{{ team.name }}</option>
                    {% endfor %}
                </select>
            </dd>

            <dt>Home Score:</dt>
            <dd><input type="number" name="home_score" max="200" min="0" required></dd>

            <dt>Away Score:</dt>
            <dd><input type="number" name="away_score" max="200" min="0" required></dd>

            <dt>Game Date:</dt>
            <dd><input type="date" name="game_date" required></dd>

            <dd>
                <input type="submit" value="Submit Score" class="btn btn-primary">
            </dd>
            </form>
        </dl>
{% endblock %}