{% extends "layout.html" %}
{% block body %}
    {# UNIT TESTED #}
<h1 class="m-3 mt-2">Submit Score</h1>
        <div class="alert alert-info m-3" role="alert">
        <strong>Note:</strong> Ensure the match schedule has been generated before submitting scores.
        </div>

        <dl class="m-4">
            <dt>League:</dt>
            <dd>
            <form action="/submit_score" method="get">
                <select name="league_selected"  onchange="this.form.submit()" required>
                    <option value="">Select League</option>
                    {# Loops through leagues to make options #}
                    {% for league in leagues %}
                    {# If statement keeps option selected #}
                    <option value="{{ league.id }}" {% if league_selected|int == league.id %}selected{% endif %}>{{ league.league_name }}</option>
                    {% endfor %}
                </select>
            </form>
            </dd>
            <form action="/submit_score" method="post">
                {# Checks for league selection #}
                {% if league_selected %}
                <input type="hidden" name="league_selected" value="{{ league_selected }}">
                {% endif %}
            <dt>Select Game:</dt>
            <dd>
                <select name="game_id" required>
                    <option value="">Select Game</option>
                    {# Makes option for any unfinished game in selected league #}
                    {% for game in unfinished_games %}
                    <option value="{{ game.id }}">{{ game.game_date }} - {{ game.home_team }} vs {{ game.away_team }}</option>
                    {% endfor %}
                </select>
            </dd>

            <dt>Home Score:</dt>
            <dd><input type="number" name="home_score" max="200" min="0" required></dd>

            <dt>Away Score:</dt>
            <dd><input type="number" name="away_score" max="200" min="0" required></dd>

            <dd>
                <input type="submit" value="Submit Score" class="btn btn-primary">
            </dd>
            </form>
        </dl>
{% endblock %}