{% extends "layout.html" %}
{% block body %}
    {# UNIT TESTED #}
<h1 class="m-3 mt-2">Create Team</h1>
<div class="m-3">
    <div>
      <form action="/create_team" method="post">
        <input type="hidden" name="id">
        <dl>
          <dt>Team Name (Max Length 3-35 Characters):
          <dd><input type="text" size="30" name="name" maxlength="35" minlength="3" pattern="^\S.*" required>
          <dt>League:
         <dd><select name="league">
                {% for league in leagues %}
                    <option value="{{ league }}">{{ league }}</option>
                {% endfor %}
              </select>
          <dd><input type="submit" value="Update" class="btn btn-primary">
        </dl>
      </form>
    </div>
</div>
{% endblock %}